*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: auto;
    width: 100%;
}
.nav{
    height: 150px;
    width: 100%;
   
  
}
.logo img{
    height:80px;
    width: 100px;
    border-radius: 50px;
    margin-left: 50px;
    margin-top: 30px; 
}
.menu ul li{
    list-style: none;
    margin: 25px;
}
.menu ul{
    display: flex;
    margin-left: 300px;
    margin-top: -90px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.matter h1{
    font-size: 60px;
    margin-left: 60px;
}
.matter p{
   margin-left: 60px;
   color: gray; 
}
.matter button{
    margin-left: 60px;
    margin-top: 30px;
    height: 40px;
    width: 150px;
    border-radius: 15px;
    background-color: blue;
    color: white;
    font-size: 16px;
}
.matter button:hover{
 background-color: white;
 color: black;
}
.matter1 h1{
    font-size: 50px;
    margin-left: 60px;
    font-family: serif;
    color: rgb(61, 60, 60);
}
.main{
    display: flex;
    margin-top: 50px;
    
}
.main1{
 margin: 10px;
 margin-left: 150px;
 border-right: 0.25rem solid gray;

}
.main2{
margin: 10px;
margin-left: 150px;
border-right: 0.25rem solid gray;

}
.main3{
margin: 10px;
margin-left: 150px;
}
.main1 img{
    height: 30px;
    width: 30px;
    margin-left: 40px;
}
.main2 img{
    height: 30px;
    width: 30px;
    margin-left: 40px;
}
.main3 img{
    height: 30px;
    width: 30px;
    margin-left: 40px;
}
.main1 h5{
    margin-top: 10px;
    margin-left: 35px;
}
.main2 h5{
    margin-top: 10px;
    margin-left: 10px;
}
.main3 h5{
    margin-top: 10px;
    margin-left: 10px; 
}
.main1 p{
margin: 5px;
margin-left: -80px;
}
.main2 p{
margin: 5px;
margin-left: -80px;
}
.main3 p{
margin: 5px;
margin-left: -80px;
}
.feature{
    display: flex;
}
.feature h2{
font-size: 30px;
margin-left: 100px;
margin: 30px;
}
.feature img{
    height: 400px;
    width: 600px;
    margin-left: -300px;
    margin-top: 100px;
}
.word h3{
    margin-top: 200px;
    margin-left: 100px;
    font-size:30px ;
    font-family: monospace;
    color: rgb(238, 78, 105);
}
.word p{
   margin-left: 100px;
   margin-top: 20px; 
   color: palevioletred;
}
.feature .btn1{
   height: 50px;
   width: 150px;
   border-radius:40% white solid;
   color: white;
   margin-top: -30px;

}
.feature .btn1:hover{
  color: black;

}
.sprinkle img{
    height: 400px;
    width: 600px;
    margin-left: 650px;
    margin-top: -100px;
}
.last{
    margin-top: 20px;
    margin-left: 250px;
}
.last1{
    margin-left: 900px;
    margin-top: -350px;
}
.last1 h3{
margin-top: -400px;
    margin-left: 100px;
    font-size:30px ;
    font-family: monospace;
    color: rgb(238, 78, 105);
}
.last1 p{
    margin-left: 100px;
   margin-top: 20px; 
   color: palevioletred;
}
.lhead h1{
    margin-top: 450px;
    font-size: 30px;
    color: rgb(31, 30, 30);
    margin-left: 15px;
}
._ad20{
display: flex;
}
.experience h4{
    font-size: 30px;
    margin-left: 80px;
    margin-top: 40px;
    color: rgb(97, 92, 92);
}
.skills h4{
    font-size: 30px;
    margin-left: 600px;
}
.experience ul li{
    margin-top: 50px;
    margin-left: 10px;
}
.exp1{

}
._ad21{
    display: flex;
}
.exp2 ul li{
    list-style: none;
    font-size: 16px;
    color: black;
}
.exp3 ul li{
    list-style: none;
}
.exp2 ul li:hover{
    color:blue
}
.exp1 ul li:hover{
    color:rgb(189, 150, 25);
}
.exp3 ul li:hover{
    color:crimson;
}
.skills h4{
    margin-left: 700px;
  margin-top: -300px;
}
.skills p{
    margin-left: 600px;
    margin-top: 50px;
    font-size: 20px;

}
._ad22{
   display: flex; 
}
.pawfoot img{
    height: 40px;
    width: 60px;
    border-radius: 50%;
    margin-left:800px ;
    margin: 10px;
    
}
 ._ad22 .pawfoot{
    margin-left:600px;
    margin-top: 50px;
   
}
._ad22 .water{
    margin-left:50px;
    margin-top: 50px;
    
   
}
._ad22 .uturn{
    margin-left:50px;
    margin-top: 50px;
    
    

}._ad22 .water img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
 .uturn img{
    height: 50px;
    width: 80px;
    border-radius: 50%;
    margin-top: 10px;
}
.plus img{
    height: 50px;
    width: 80px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 40px;
}
._ad22 .pawfoot h6{
    margin-left: 30px;
}
._ad22 .water h6{
   margin-left: 25px; 
}
._ad22 .uturn h6{
    margin-left: 25px; 
}
._ad22 .plus h6{
    margin-left: 50px; 
    margin-top: 10px;
}
.from h2{
    margin-top: 400px;
    margin-left: -1000px;
}
.ad23{
    display: flex;
    margin-left: -1000px;
}
.lap img{
    height: 200px;
    width: 350px;
    margin: 10px;
    filter: grayscale(0%);
    
}
.hang img{
    height: 200px;
    width: 350px;
    margin: 10px;
    filter: grayscale(0%);
}
.book img{
    height: 200px;
    width: 350px;
    margin: 10px;
    filter: grayscale(0%);
}
.lap h5{
font-size: 20px;
margin-left: 130px;
}
.hang h5{
font-size: 20px;
margin-left: 80px;
}
.book h5{
font-size: 20px;
margin-left: 100px;
}
.lap p{
font-size: 20px;
margin-left: 20px;
color: rgb(85, 81, 81);
font-family: monospace;
}
.hang p{
    font-size: 20px;
    margin-left: 45px;
    color: rgb(85, 81, 81);
    font-family: monospace;
}
.book p{
    font-size: 20px;
    margin-left: 30px;
    color: rgb(85, 81, 81);
    font-family: monospace;
}
.lap h6{
font-size: 16px;
margin-left: 30px;
margin-top: 20px;
}
.hang h6{
    font-size: 16px;
    margin-left: 50px;
    margin-top: 20px;
}
.book h6{
    font-size: 16px;
    margin-left: 50px;
    margin-top: 20px;
}
 .lap img:hover{
    filter: grayscale(100%);
   
}
.hang img:hover{
    filter: grayscale(100%);
}
.book img:hover{
    filter: grayscale(100%);
}
._ad24{
    display: flex;
}
.navigation ul {
    margin-top: 20px;
    margin-left: -1100px;   
}
.navigation ul li{
    list-style: none;
}
.navigation h4{
    margin-top: 800px;
    margin-left: -1100px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.product ul li{
    list-style: none;
}
.product ul{
    margin-top: 20px;
    margin-left: -900px;   
}
.product h4{
    margin-top: 800px;
    margin-left: -900px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.newsletter h4{
    margin-top: 800px;
    margin-left: -500px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}